html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul,
ol {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

ul[class] {
  list-style: none; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

button {
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html,
body {
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px; }

.page-section {
  margin-bottom: 60px; }
  @media (max-width: 760px) {
    .page-section {
      margin-bottom: 45px; } }
  @media (max-width: 520px) {
    .page-section {
      margin-bottom: 30px; } }

svg path {
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.open-menu-btn {
  display: none;
  width: 37px;
  height: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .open-menu-btn span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px; }
  .open-menu-btn span:nth-child(2) {
    width: 70%;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s; }
  .open-menu-btn:hover span:nth-child(2) {
    width: 100%; }

.popup-menu {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
          box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
  opacity: 0;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
  visibility: hidden;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: 10; }
  .popup-menu--active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1); }
  .popup-menu__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
    background-color: #3eb75d;
    -webkit-box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2);
            box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2); }
  .popup-menu__close-btn {
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    cursor: pointer; }
    .popup-menu__close-btn:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .popup-menu .logo-img {
    max-width: 170px; }
  .popup-menu__block {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333; }
  .popup-menu__content {
    padding: 15px; }
  .popup-menu__form {
    position: relative;
    width: 100%; }
  .popup-menu__input {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 40px 5px 10px;
    width: 100%;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
            box-shadow: 0 0 10px rgba(51, 51, 51, 0.3); }
    .popup-menu__input:focus {
      outline: none;
      border-color: rgba(51, 51, 51, 0.5); }
  .popup-menu__search-link {
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .popup-menu__nav-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    margin-bottom: 5px; }
  .popup-menu__nav-item__link {
    display: block;
    font-size: 16px;
    padding: 5px 10px 5px 0;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s; }
    .popup-menu__nav-item__link:hover {
      color: #3eb75d;
      padding-left: 5px; }
  .popup-menu__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .popup-menu__authorization-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    padding: 5px 10px 5px 0; }
    .popup-menu__authorization-link:hover .popup-menu__authorization-text {
      padding-left: 15px;
      color: #3eb75d; }
  .popup-menu__authorization-text {
    padding-left: 10px;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s; }
  .popup-menu__item-link {
    position: relative;
    margin-right: 5px; }
    .popup-menu__item-link:not(:last-of-type) {
      margin-right: 15px; }
  .popup-menu__item-num {
    position: absolute;
    right: -7px;
    bottom: -7px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    min-width: 16px;
    padding: 2px 4px;
    color: #fff;
    background-color: #333;
    border-radius: 50%; }

.header__top {
  color: #fff;
  background-color: #3eb75d;
  padding: 15px 0; }

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .logo-link {
  width: 255px;
  margin-right: 20px; }

.header__top-form {
  margin-left: auto;
  width: 310px;
  margin-right: 50px;
  position: relative; }

.header__top-input {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 8px 40px 8px 10px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }
  .header__top-input:focus {
    outline: none;
    border-color: #333; }
  .header__top-input::-webkit-input-placeholder {
    color: #ccc; }
  .header__top-input::-moz-placeholder {
    color: #ccc; }
  .header__top-input:-ms-input-placeholder {
    color: #ccc; }
  .header__top-input::-ms-input-placeholder {
    color: #ccc; }
  .header__top-input::placeholder {
    color: #ccc; }

.header__top-form__search-link {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.header__top__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__top__item-link {
  position: relative;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }
  .header__top__item-link:hover .header__top__item-img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
  .header__top__item-link:not(:last-of-type) {
    margin-right: 15px; }

.header__top__item-img {
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.header__top__item-num {
  position: absolute;
  right: -7px;
  bottom: -7px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  min-width: 16px;
  padding: 2px 4px;
  color: #3eb75d;
  background-color: #fff;
  border-radius: 50%; }

.header__top__user-nav-link {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  padding: 8px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative; }
  .header__top__user-nav-link:hover {
    color: #3eb75d;
    background-color: #fff; }

.header__bottom {
  padding: 15px 0;
  -webkit-box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2);
          box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2); }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-nav__item:not(:last-of-type) {
    margin-right: 25px; }
  .main-nav__item:hover .main-nav__item-link {
    color: #3eb75d; }
  .main-nav__item:hover .main-nav__item-img {
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg); }
    .main-nav__item:hover .main-nav__item-img path {
      fill: #3eb75d; }

.main-nav__item-link {
  font-size: 16px;
  padding: 10px 0;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }
  .main-nav__item-link:hover ~ .main-nav__dropdown-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1); }

.main-nav__item-img {
  margin-left: 10px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.main-nav__dropdown-list {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0.6);
      -ms-transform: scaleY(0.6);
          transform: scaleY(0.6);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  min-width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
          box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
  padding: 10px 0px; }
  .main-nav__dropdown-list:hover {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1); }

.main-nav__dropdown-link {
  width: 100%;
  padding: 10px 15px;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
  border-left: 3px solid transparent; }
  .main-nav__dropdown-link:hover {
    border-color: rgba(62, 183, 93, 0.7);
    background-color: rgba(62, 183, 93, 0.1);
    color: #4cc929; }

.top__list {
  padding: 0 40px;
  position: relative; }

.top .top-slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer; }
  .top .top-slider__arrow:hover svg path {
    fill: #3eb75d; }
  .top .top-slider__arrow--prev {
    left: 0px; }
  .top .top-slider__arrow--next {
    right: 0px; }

.top__item-link__img {
  min-height: 150px;
  -o-object-fit: cover;
     object-fit: cover; }

.footer {
  color: #fff;
  background-color: #363839;
  padding: 40px 0; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__left {
    max-width: 216px;
    margin-right: auto; }
  .footer .logo-link {
    width: 250px;
    margin-bottom: 15px; }
  .footer__lists-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__list:not(:last-of-type) {
    margin-right: 40px; }
  .footer__item:not(:last-of-type) {
    margin-bottom: 10px; }
  .footer__item-link {
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
    .footer__item-link:hover {
      opacity: 0.7; }

@media (max-width: 760px) {
  .header__top-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .logo-link {
    width: 170px; }
  .header__top-form {
    display: none; }
  .header__top__items-wrapper {
    display: none; }
  .header__top__user-nav-link {
    display: none; }
  .header__bottom {
    display: none; }
  .open-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top__list {
    padding: 0; }
  .footer .logo-link {
    max-width: 170px; }
  .footer__list:not(:last-of-type) {
    margin-right: 20px; } }

@media (max-width: 620px) {
  .footer {
    padding: 30px 0; }
    .footer__inner {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse; }
    .footer__left {
      margin-left: auto;
      width: 100%; }
    .footer__list {
      margin-bottom: 20px; } }

@media (max-width: 440px) {
  .popup-menu {
    min-height: 100vh; } }
